<!DOCTYPE html>
<html
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/salvarEstadoModelo" th:object="${EstadoModelo}" method="post">
        <label> Nome do Modulo </label>
        <input type="text" th:field="{nome}" />

        <label> Sigla do Modelo</label>
        <input type="text" th:field="{sigla}" />

        <input type="hidden" th:field="{id}" />

        <button type="submit"> salvar </button>
    </form>
</body>
